<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RubyCritic</title>
    <link href="<%= stylesheet_path(:application) %>" media="screen, projection, print" rel="stylesheet" type="text/css">
    <link href="<%= stylesheet_path(:'prettify.custom_theme') %>" media="screen, projection, print" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header class="project-header group">
      <div class="container">
        <h1 class="logo"><a href="<%= file_path('overview.html') %>" class="logo-link">RubyCritic</a></h1>
        <nav class="project-nav">
          <a href="<%= file_path('overview.html') %>" class="project-nav-item">Overview</a>
          <a href="<%= file_path('code_index.html') %>" class="project-nav-item">Code</a>
          <a href="<%= file_path('smells_index.html') %>" class="project-nav-item">Smells</a>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <%= javascript_tag(:'jquery-2.1.0') %>
    <%= javascript_tag(:'jquery.tablesorter') %>
    <%= javascript_tag(:'jquery.floatThead-v1.2.7') %>
    <%= javascript_tag(:'jquery.timeago-v1.4.1') %>
    <%= javascript_tag(:'highcharts.src-4.0.1') %>
    <%= javascript_tag(:'jquery.scrollTo-1.4.11') %>
    <%= javascript_tag(:'prettify-4-Mar-2013') %>
    <%= javascript_tag(:application) %>
  </body>
</html>
