<table id="js-index-table" class="smells-index-table index-table sortable-table">
<thead>
  <tr>
    <th>Smell</th>
    <th>Locations</th>
    <% if @show_status %>
      <th class="centered-cell" title="Code smells introduced recently are marked as new. There's still time before they are committed!">Status</th>
    <% end %>
  </tr>
</thead>
<tbody>
  <% @smells.each do |smell| %>
    <tr>
      <td><%= smell.type %></td>
      <td>
        <% smell.locations.each do |location| %>
          <a href="<%= smell_location_path(location) %>"><%= @analysed_module_names[location.pathname] %></a>
        <% end %>
      </td>
      <% if @show_status %>
        <td class="centered-cell"><span class="status-<%= smell.status %> circled-text circle"><%= smell.status %></span></td>
      <% end %>
    </tr>
  <% end %>
</tbody>
</table>
