<table id="js-index-table" class="index-table sortable-table">
<thead>
  <tr>
    <th class="first-cell">Name</th>
    <th class="numeric-cell" title="Number of times a file has changed">Churn</th>
    <th class="numeric-cell" title="Overall amount of code in a file">Complexity</th>
    <th class="numeric-cell" title="Amount of code that is similar to other code">Duplication</th>
    <th class="numeric-cell">Smells</th>
    <th class="centered-cell last-cell">Rating</th>
  </tr>
</thead>
<tbody>
  <% @analysed_files.each do |analysed_file| %>
    <tr>
      <td class="first-cell">
        <a href="<%= file_path(analysed_file.pathname.sub_ext('.html')) %>"><%= analysed_file.name %></a>
      </td>
      <td class="numeric-cell"><%= analysed_file.churn %></td>
      <td class="numeric-cell"><%= analysed_file.complexity %></td>
      <td class="numeric-cell"><%= analysed_file.duplication %></td>
      <td class="numeric-cell"><%= analysed_file.smells.length %></td>
      <td class="centered-cell last-cell"><span class="rating-<%= analysed_file.rating.to_s.downcase %> circled-text circle"><%= analysed_file.rating %></span></td>
    </tr>
  <% end %>
</tbody>
</table>
