<div class="file-header group">
  <span class="rating-<%= @analysed_file.rating.to_s.downcase %> circled-text circle "><%= @analysed_file.rating %></span>
  <h2 class="file-name"><%= @analysed_file.name %></h2>

  <span class="file-committed-at">
    <% if @analysed_file.committed_at %>
      Updated <%= timeago_tag(@analysed_file.committed_at) %>
    <% else %>
      Never committed
    <% end %>
  </span>

  <div class="file-stats group">
    <div class="file-stat">
      <%= @analysed_file.complexity %> complexity
    </div>
    <div class="file-stat">
      <%= @analysed_file.complexity_per_method %> complexity per method
    </div>
    <div class="file-stat">
      <%= @analysed_file.churn %> churn
    </div>
    <div class="file-stat">
      <%= @analysed_file.methods_count %> methods
    </div>
    <div class="file-stat">
      <%= @analysed_file.duplication %> duplication
    </div>
  </div>

  <% if @analysed_file.has_smells? %>
    <button id="js-toggle-smells" class="smells-toggle-button button">Toggle Smells</button>
  <% end %>
</div>

<code class="prettyprint linenums lang-ruby file-code js-file-code"><%= yield %></code>
