<%= @text %>

<ul class="nocode smells js-smells">
<% @smells.each do |smell| %>
  <li class="smell <%= smell.status %>">
    <span class="description"><%= smell %>
      <% if smell.multiple_locations? %>
        <% smell.locations.each_with_index do |location, index| %>
          <a href="<%= smell_location_path(location) %>" class="js-smell-location"><%= index %></a>
        <% end %>
      <% end %>
    </span>
  </li>
<% end %>
</ul>
