<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ruby Critic - Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- StyleSheets -->
    <link href="<%= stylesheet_path(:'bootstrap.min') %>" media="screen, projection, print" rel="stylesheet" type="text/css">
    <link href="<%= stylesheet_path(:'font-awesome.min') %>" media="screen, projection, print" rel="stylesheet" type="text/css">
    <link href="<%= stylesheet_path(:'prettify.custom_theme') %>" media="screen, projection, print" rel="stylesheet" type="text/css">
    <link href="<%= stylesheet_path(:application) %>" media="screen, projection, print" rel="stylesheet" type="text/css">
  </head>

  <body>
    <header class="navbar navbar-default navbar-fixed-top">
      <a href="#menu-toggle" class="btn btn-default hidden-lg visible-sm-* hidden-md visible-xs-* pull-left" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>
      <a href="<%= file_path('overview.html') %>"><img src="<%= image_path('logo.png') %>" alt="Ruby Critic Logo" title="Ruby Critic Logo" width="55"><span class="logo">RUBYCRITIC</span></a>
      <% if Config.compare_branches_mode? %>
        <ul class="nav navbar-nav navbar-right">
          <a href="<%= @base_path %>"><span class="branch"><%= Config.base_branch %></span></a>
          <a href="<%= @feature_path %>"><span class="branch"><%= Config.feature_branch %></span></a>
          <a href="<%= @build_path %>"><span class="branch">Build</span></a>
        </ul>
      <% end %>
    </header>
    <div id="wrapper">
      <!-- Sidebar -->
      <aside id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-item">
            <a href="<%= file_path('overview.html') %>" class="project-nav-item overview-nav"><i class="fa fa-dashboard"></i>Overview</a>
          </li>
          <li class="sidebar-item">
            <a href="<%= file_path('code_index.html') %>" class="project-nav-item code-index-nav"><i class="fa fa-code"></i>Code</a>
          </li>
          <li class="sidebar-item">
            <a href="<%= file_path('smells_index.html') %>" class="project-nav-item smells-index-nav"><i class="fa fa-warning"></i>Smells</a>
          </li>
          <li class="sidebar-item">
            <a href="<%= file_path('simple_cov_index.html') %>" class="project-nav-item coverage-index-nav"><i class="fa fa-umbrella"></i>Coverage</a>
          </li>
        </ul>
      </aside>
      <!-- /#sidebar-wrapper -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <%= yield %>
        </div>
      </div>
    </div>

    <!-- JavaScripts -->
    <%= javascript_tag(:'jquery.min') %>
    <%= javascript_tag(:'jquery.tablesorter.min') %>
    <%= javascript_tag(:'jquery.scrollTo.min') %>
    <%= javascript_tag(:'jquery.timeago') %>
    <%= javascript_tag(:'highcharts.src-4.0.1') %>
    <%= javascript_tag(:'prettify') %>
    <%= javascript_tag(:'bootstrap.min') %>
    <%= javascript_tag(:application) %>
    <%= javascript_tag(:'jquery.filtertable.min') %>
  </body>
</html>
