<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RubyCritic</title>
    <link href="<%= stylesheet_path(:application) %>" media="screen, projection, print" rel="stylesheet" type="text/css">
    <link href="<%= stylesheet_path(:'prettify.custom_theme') %>" media="screen, projection, print" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header class="project-header group">
      <h1 class="logo"><a href="<%= overview_path %>" class="logo-link">RubyCritic</a></h1>
      <nav class="project-nav">
        <a href="<%= overview_path %>" class="project-nav-item">Overview</a>
        <a href="<%= code_index_path %>" class="project-nav-item">Code</a>
        <a href="<%= smells_index_path %>" class="project-nav-item">Smells</a>
      </nav>
    </header>
    <%= yield %>
    <script src="<%= javascript_path(:'jquery-2.1.0') %>"></script>
    <script src="<%= javascript_path(:'jquery.tablesorter-2.0') %>"></script>
    <script src="<%= javascript_path(:'highcharts.src-4.0.1') %>"></script>
    <script src="<%= javascript_path(:'jquery.scrollTo-1.4.11') %>"></script>
    <script src="<%= javascript_path(:'prettify-4-Mar-2013') %>"></script>
    <script src="<%= javascript_path(:application) %>"></script>
  </body>
</html>
